<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="šipky_Forms.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <šipky_Forms.UserSettings>
            <setting name="h1" serializeAs="String">
                <value />
            </setting>
            <setting name="h2" serializeAs="String">
                <value />
            </setting>
            <setting name="h3" serializeAs="String">
                <value />
            </setting>
            <setting name="h4" serializeAs="String">
                <value />
            </setting>
            <setting name="h5" serializeAs="String">
                <value />
            </setting>
            <setting name="h6" serializeAs="String">
                <value />
            </setting>
            <setting name="h7" serializeAs="String">
                <value />
            </setting>
            <setting name="h8" serializeAs="String">
                <value />
            </setting>
            <setting name="h9" serializeAs="String">
                <value />
            </setting>
            <setting name="h10" serializeAs="String">
                <value />
            </setting>
            <setting name="c1" serializeAs="String">
                <value />
            </setting>
            <setting name="c2" serializeAs="String">
                <value />
            </setting>
            <setting name="c3" serializeAs="String">
                <value />
            </setting>
            <setting name="c4" serializeAs="String">
                <value />
            </setting>
            <setting name="c5" serializeAs="String">
                <value />
            </setting>
            <setting name="c6" serializeAs="String">
                <value />
            </setting>
            <setting name="c7" serializeAs="String">
                <value />
            </setting>
            <setting name="c8" serializeAs="String">
                <value />
            </setting>
            <setting name="c9" serializeAs="String">
                <value />
            </setting>
            <setting name="c10" serializeAs="String">
                <value />
            </setting>
        </šipky_Forms.UserSettings>
    </userSettings>
</configuration>