<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DartsCounter" Manufacturer="Matěj Prudil" Version="2.0.0.0" UpgradeCode="a1b2c3d4-e5f6-4789-b8c9-d0e1f2a3b4c5">
    <MajorUpgrade DowngradeErrorMessage="Novější verze aplikace DartsCounter je již nainstalována." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DartsCounter" />
    </StandardDirectory>

    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Files Include="publish-win\**" />
    </ComponentGroup>
  </Fragment>
</Wix>