<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DartsCounter" Manufacturer="Matěj Prudil" Version="2.0.0.0" UpgradeCode="1B0C8A1E-4A91-4F4E-82CD-133F1F3C71B9"  Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="Novější verze aplikace DartsCounter je již nainstalována." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="DesktopUI\Assets\IcoFiles\Darts.ico" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DartsCounter" />
    </StandardDirectory>
    
    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      
      <Component>
        <File Source="publish-win\DartsCounter.exe">
          <Shortcut Name="DartsCounter" 
                    Directory="DesktopFolder" 
                    Icon="AppIcon" 
                    WorkingDirectory="INSTALLFOLDER" />
        </File>
      </Component>
      <Files Include="publish-win\**" Exclude="publish-win\DartsCounter.exe" />

    </ComponentGroup>
  </Fragment>
</Wix>